
#content
{
    height: 600px;
    width: 700px;
}

#calender
{
       margin: 85px 0 0 200px;
}

#table
{
        margin: 65px 0 0 112px;
        border:2px solid black;
        padding-top: 40px;
        height:280px;
        background-color:#E4E4E1;
}
span
{
       margin: 0px 54px 0px 103px;
    width: 200px;
    font-size: 18px;
    line-height: 52px;
}

select
{
    margin: 0 0 0 0px;
    width: 150px;
}
.select
{
    margin:0 0 0 0px;
}