body
{
    background-color:#FFDAB9;   
}
#cont
{
   
    margin-left:49%;
    width:50%;
    background-color: #FFEFD5;
    height: 500px;
    border:2px solid black;
    border: 2px solid black;
   

}
#dash
{
    margin: 100px 0 0 0px;
}
h2
{
    position: absolute;
    margin: 60px 0 0 127px;
    color: #3B9696;
    font-weight: bold;
    font-size: 28px;
}
span {
    margin: 32px 1px 0px 120px;
    float: left;
    color: #4A8E8B;
}
input {
    float: right;
    height: 20px;
    margin: 31px 48px 0px 61px;
    color: #4A8E8B;
}
.hyper
{
   
  
    
    width: 139px;
    margin: 80px 0 0 63px;
    position: absolute;
}
.hyper1
{
 
    font-size: 18px;
    width: 108px;
    position: absolute;
    margin: 124px 0 0 63px;
}

.btn
{
   
   width:80px;
    height:25px;
   margin-left: 63px;
    position: absolute;
    margin: 25px 0 0 63px;
}
.error
{
    color: red;
        margin: 9px 0 0 62px;
}


@keyframes slidy 
   {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider
 { overflow: hidden;
   width:50%;
   height:500px;
   border:2px solid black;
  float:left;
  

}
div#slider figure img 
{
     width: 20%;
     height:60%;
    float:left;
   }
div#slider figure { 
  position: relative;
  width: 500%;
  height:168%;
  animation:7s slidy infinite; 
}