body
{
    background-color: #EFE7D9;
}
#tags
{
    margin: 36px 0 0 109px;
    height: 700px;
    width:800px;
    border: 2px solid black;
}

h2
{
    color: #8E8C5A;
    height: 20px;
    margin: 27px 0 30px 140px;
    font-style: oblique;
}

span
{
    /*margin: 20px 0px 10px 133px;*/
    font-size:17px;
}

.registrationform
{
    margin-left: 30px;
    float: left;
   
}





.errors
{
    margin-left: 10px;
    color: red;
}

input
{
    margin: 25px 0px 10px 90px;
    height: 20px;
}

select
{
    margin: 26px 0px 10px 90px;
    height: 20px;
    width: 150px;
}

.btn
{
   
    width: 100px;
    height: 30px;

    
}
